* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.align-center {
    align-self: center;
}
.f-roboto {
    font-family: 'Roboto'
}
.bg-yellow {
    background-color: #EAC926;
}
.bg-blue {
    background-color: blue
}
.bg-grey {
    background-color: #ebebeb;
}
.bg-white {
    background-color: white;
}
.border-grey {
    border-color: #ebebeb;
}
.bt-1 {
    border-style: solid;
    border-width: 1px;
}
.center {
    margin-right: auto;
    margin-left: auto;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.fs-24 {
    font-size: 24px;
}
.fs-18 {
    font-size: 18px;
}
.fs-16 {
    font-size: 16px;
}
.fs-12 {
    font-size: 12px;
}
.fs-2em {
    font-size: 2em;
}
.fc-white {
    color: white
}
.fc-green {
    color: #39b54a;
}
.fc-grey {
    color: #666;
}
.fc-black {
    color: black
}
.gap {
    gap: 10px;
}
.p-1 {
    padding: 10px;
}
.border-radius-5 {
    border-radius: 5px;
}
.border-black {
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.text-center {
    text-align: center;
}
.text-decoration-none {
    text-decoration: none
}
ul {
    list-style: none;
}
.mg-b-10 {
    margin-bottom: 10px;
}
.mg-t-10 {
    margin-top: 10px;
}
.mg-t-15 {
    margin-top: 15px;
}
.mg-t-30 {
    margin-top: 30px;
}
.mg-x-auto {
    margin-right:auto;
    margin-left: auto;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.w-100 {
    width: 100%;
} 
.vw-90 {
    width: 90vw;
}


.block {
    display: block;
}

.truck-icon {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.relative {
    position: relative;
}
.mr-1 {
    margin-right: 8px;
}
.w-50 {
    width: 50%;
}

.radius-1 {
    border-radius: 5px;
}
.flex-grow {
    flex-grow: 1;
}
.b-none {
    border: none;
}
.outline-none {
    outline: none;
}

.display-menu {
    display: none;
}

/*ACA VIENEN LOS MEDIA QUERIES*/



 

@media (min-width: 481px) {
    /* TABLET */
    .md-w-50 {
        width: 48%;
    }
    .display-menu {
        display: initial;
    }
    .shadow {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}
@media (min-width: 769px) {
        /* DESKTOP */
    .lg-w-25 {
        width: 23%
    }
   
}
