<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Mercado Liebre</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap"
        rel="stylesheet" />
    <!-- Link para  Iconos - el primero que esta comentado es el que decia el MD, pero no funcionaba ... ver version. El segundo lo saque de la web https://fontawesome.com-->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> -->
    <script src="https://kit.fontawesome.com/b0e422e129.js" crossorigin="anonymous"></script>

    <!-- Aca linkeo mi CSS -->
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body class="f-roboto bg-grey">

    <!-- ACA VA EN ENCABEZADO    -->
    <header class="f-roboto p-1 fs-16 bg-yellow flex flex-wrap">
        <h1 class="w-35">
            <img src="images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" width="100%" height="auto" />
        </h1>

        <div class="w-35 p-15 align-center">
            <form action="/" class="p-1 flex radius-1 bg-white">
                <input class="flex-grow b-none outline-none fs-18" type="text" name="search"
                    placeholder="Busca productos por nombres, marcas o palabras clave" />
                <button type="submit" class="bg-white b-none mr-1">
                    <i class="fa-solid fa-magnifying-glass mr-1"></i>
                </button>
            </form>
        </div>
        <p class="text-center mg-t-10 mg-b-10 w-40 align-center">
            <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin
            tarjeta de crédito
        </p>

        <nav class="w-100 display-menu flex">
            <ul class="p-1 w-49 d-i-f">
                <li class="p-1"><a href="#" class="text-decoration-none fc-black">Ofertas</a></li>
                <li class="p-1"><a href="#" class="text-decoration-none fc-black">Tiendas Oficiales</a></li>
                <li class="p-1"><a href="#" class="text-decoration-none fc-black">Vender</a></li>
                <li class="p-1"><a href="#" class="text-decoration-none fc-black">Ayuda</a></li>
            </ul>
            <ul class="p-1 w-49 d-i-f flex-end">
                <li class="p-1">
                    <a href="#" class="text-decoration-none fc-black">Crea tu cuenta <i
                            class="fa-regular fa-id-card"></i></a>
                </li>
                <li class="p-1">
                    <a href="#" class="text-decoration-none fc-black">Ingresá <i
                            class="fa-solid fa-right-to-bracket"></i></a>
                </li>
                <li class="p-1">
                    <a href="#" class="text-decoration-none fc-black">Mis compras <i
                            class="fa-solid fa-basket-shopping"></i></a>
                </li>
            </ul>
        </nav>

        <!-- Menu Hamburguesa -->
        <div class="burger-menu text-center w-100 display-burger">
            <i class="fas fa-bars bg-blue fc-white p-1 border-radius-5">
            </i>
        </div>
    </header>
    <img class="w-100" src="/images/img-home-banner.jpg" alt="Promocion fiestas"> <!-- ACA VA EL MAIN -->
    <main class=" mg-x-auto vw-90 bg-grey">
        <section class="p-1 flex flex-wrap gap">
            <h2 class="fs-24 w-100">Basado en tu ultima visita</h2>

            <article class="bg-white mg-t-10 mg-b-10 shadow w-100 md-w-50 lg-w-25">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" width="100%" height="auto" />
                <div class="bt-1 border-grey p-1 relative flex flex-wrap">
                    <i class="fa-solid fa-truck truck-icon"></i>
                    <p class="fs-18 mr-1">$6.770</p>
                    <p class="fs-16 fc-green">40% OFF</p>
                    <p class="fs-16 fc-grey mg-t-15 display-none display-md display-lg">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="bg-white mg-t-10 mg-b-10 shadow w-100 md-w-50 lg-w-25">
                <img src="images/img-macbook-pro-2019.jpg" alt="MacBook 2019" width="100%" height="auto" />
                <div class="bt-1 border-grey p-1  relative flex flex-wrap">
                    <i class="fa-solid fa-truck truck-icon"></i>
                    <p class="fs-18 mr-1">$230.000</p>
                    <p class="fs-16 fc-green">20% OFF</p>
                    <p class="fs-16 fc-grey mg-t-15 display-none display-md display-lg">MacBook Pro 2019</p>
                </div>
            </article>

            <article class="bg-white mg-t-10 mg-b-10 shadow w-100 md-w-50 lg-w-25">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" width="100%" height="auto" />
                <div class="bt-1 border-grey p-1  relative flex flex-wrap">
                    <i class="fa-solid fa-truck truck-icon"></i>
                    <p class="fs-18 mr-1">$70.500</p>
                    <p class="fs-16 fc-green">10% OFF</p>
                    <p class="fs-16 fc-grey mg-t-15 display-none display-md display-lg">Samsung Galaxy S10</p>
                </div>
            </article>

            <article class="bg-white mg-t-10 mg-b-10 shadow w-100 md-w-50 lg-w-25">
                <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" width="100%" height="auto" />
                <div class="bt-1 border-grey p-1  relative flex flex-wrap">
                    <i class="fa-solid fa-truck truck-icon"></i>
                    <p class="fs-18 mr-1">$23.200</p>
                    <p class="fs-16 fc-green">5% OFF</p>
                    <p class="fs-16 fc-grey mg-t-15 display-none display-md display-lg">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>



    </main>

    <!-- ACA VA EL FOOTER -->

    <footer class="fs-12 mg-t-30">
        <!-- <center> -->
        <section">
            <h4 class="text-center pt-2"> <i class="fa-solid fa-credit-card fs-2em mg-b-10" style="color: #0432ff;"></i>
                Pagá
                con tarjeta o en efectivo</h4>
            <p class="text-center">
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
            </section>
            <section>
                <h4 class="text-center pt-2"> <i class="fa-solid fa-gift fs-2em mg-b-10" style="color: #0432ff;"></i>
                    Envío
                    gratis desde $ 2.500
                </h4>
                <p class="text-center">
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                    miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </section>
            <section>
                <h4 class="text-center pt-2"><i class="fa-solid fa-user-shield  fs-2em mg-b-10"
                        style="color: #0432ff;"></i>
                    Seguridad, de
                    principio a fin</h4>
                <p class="text-center">
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                    hacer, porque estás siempre protegid@.
                </p>
            </section>
            <section>
                <p class="text-center pt-2">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>

            <!-- </center> -->


    </footer>




</body>

</html>