<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Mercado Liebre - Registro</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap"
        rel="stylesheet" />
    <!-- Link para  Iconos - el primero que esta comentado es el que decia el MD, pero no funcionaba ... ver version. El segundo lo saque de la web https://fontawesome.com-->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> -->
    <script src="https://kit.fontawesome.com/b0e422e129.js" crossorigin="anonymous"></script>

    <!-- Aca linkeo mi CSS -->
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body class="f-roboto bg-grey">

    <!-- ACA VA EN ENCABEZADO    -->
    <header class="f-roboto p-1 fs-16 bg-yellow flex flex-wrap">
        <h1 class=" w-50 w-m md-w-30">
            <img src="images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" width="100%" height="auto" />
        </h1>

        <div class="w-50 w-m p-15 align-center md-w-30">
            <form action="/" class="p-1 flex radius-1 bg-white">
                <input class="b-none outline-none fs-18" type="text" name="search"
                    placeholder="Busca productos por nombres, marcas o palabras clave" />
                <button type="submit" class="bg-white b-none mr-1">
                    <i class="fa-solid fa-magnifying-glass mr-1"></i>
                </button>
            </form>
        </div>
        <p class="text-center mg-t-10 mg-b-10 w-100 align-center md-w-30">
            <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin
            tarjeta de crédito
        </p>

        <nav class="w-100 display-menu flex">
            <ul class="p-1 w-49 d-i-f">
                <li class="p-1"><a href="#" class="text-decoration-none fc-black">Ofertas</a></li>
                <li class="p-1"><a href="#" class="text-decoration-none fc-black">Tiendas Oficiales</a></li>
                <li class="p-1"><a href="#" class="text-decoration-none fc-black">Vender</a></li>
                <li class="p-1"><a href="#" class="text-decoration-none fc-black">Ayuda</a></li>
            </ul>
            <ul class="p-1 w-49 d-i-f flex-end">
                <li class="p-1">
                    <a href="#" class="text-decoration-none fc-black">Crea tu cuenta <i
                            class="fa-regular fa-id-card"></i></a>
                </li>
                <li class="p-1">
                    <a href="#" class="text-decoration-none fc-black">Ingresá <i
                            class="fa-solid fa-right-to-bracket"></i></a>
                </li>
                <li class="p-1">
                    <a href="#" class="text-decoration-none fc-black">Mis compras <i
                            class="fa-solid fa-basket-shopping"></i></a>
                </li>
            </ul>
        </nav>

        <!-- Menu Hamburguesa -->
        <div class="burger-menu text-center w-100 display-burger p-1">
            <i class="fas fa-bars bg-blue fc-white p-1 border-radius-5">
            </i>
        </div>
    </header>
    <img class="w-100" src="/images/img-home-banner.jpg" alt="Promocion fiestas">

    <!-- ACA VA EL MAIN -->

    <main class="flex flex-wrap">
        <h1 class="block w-100 text-center"> FORMULARIO DE REGISTRO</h1>

        <form action="/registro" method="post" class="flex flex-wrap w-100 f-direction-col">
            <p class="flex flex-wrap w-50 mg-x-auto p-1">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" class="w-100 fs-16">
            </p>

            <p class="flex flex-wrap w-50 mg-x-auto p-1">
                <input type=" text" name="usuario" id="usuario" placeholder="Nombre de usuario" class=" w-100 fs-16">
            </p>

            <p class="flex flex-wrap w-50 mg-x-auto p-1">
                <input type=" email" name="email" id="email" placeholder="E-mail" class="w-100 fs-16">
            </p>

            <p class="flex f-direction-col flex-wrap w-50 mg-x-auto p-1">
                <label for="fecha_nacimiento" class="block"><strong> Fecha de Nacimiento:</strong></label>
                <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" class="w-100 fs-16 fc-grey mg-t-10">
            </p>

            <p class="flex flex-wrap w-50 mg-x-auto p-1">
                <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" class="w-100 fs-16">
            </p>

            <div class="flex flex-wrap w-50 mg-x-auto p-1 ">
                <label for="perfil_usuario" class="block fs-16 w-100 mg-b-10"><strong>Perfil de
                        usuario:</strong></label>
                <p class="flex mg-x-auto mg-t-10">
                    <input type="radio" name="perfil_usuario" id="perfil_usuario" value="Comprador"
                        class="fs-16 fc-grey mr-1  "> Comprador
                </p>
                <p class="flex mg-x-auto mg-t-10">
                    <input type="radio" name="perfil_usuario" id="perfil_usuario" value="Vendedor"
                        class="fs-16 fc-grey mr-1  "> Vendedor
                </p>
            </div>
            <div class="flex flex-wrap w-50 mg-x-auto p-1 ">
                <label for="intereses" class="block fs-16 w-100 mg-b-10"><strong>Intereses:</strong></label>
                <p class="w-100 ml-2">
                    <input type="checkbox" name="intereses" id="intereses" value="Electro"
                        class="fs-16 fc-grey mr-1 mg-t-10">Electro
                </p>

                <p class="w-100 ml-2">
                    <input type="checkbox" name="intereses" id="intereses" value="Moda"
                        class="fs-16 fc-grey mr-1 mg-t-10">Moda
                </p>

                <p class="w-100 ml-2">
                    <input type="checkbox" name="intereses" id="intereses" value="Hogar"
                        class="fs-16 fc-grey mr-1 mg-t-10">Hogar
                </p>

                <p class="w-100 ml-2">
                    <input type="checkbox" name="intereses" id="intereses" value="Jugueteria"
                        class="fs-16 fc-grey mr-1 mg-t-10">Jugueteria
                </p>

                <p class="w-100 ml-2">
                    <input type="checkbox" name="intereses" id="intereses" value="Vida sana"
                        class="fs-16 fc-grey mr-1 mg-t-10">Vida sana
                </p>

                <div class="w-100 text-center flex-wrap">
                    <button type="reset"
                        class="fs-16 bg-white p-1 border-radius-5 mg-t-30 text-center mr-1 w-25">Borrar</button>
                    <button type="submit"
                        class="fs-16 bg-white p-1 border-radius-5 mg-t-30 text-center mr-1">Enviar</button>
                </div>



            </div>

        </form>







    </main>